@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #bbbbbb;
}

a {
    text-decoration: none;
}

/* Side-bar */
.side-bar {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    color: #eeeeee;
    position: fixed;
}
.side-bar i {
    font-size: 26px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.logo h2 {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 500;
}

nav {
    border-bottom: 1px #222222 solid;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 8px;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
    font-weight: 700;
    color: #eeeeee;
    border-top: 1px #222222 solid;
}
nav a:hover {
    background-image: linear-gradient(to right, #333333, rgba(255, 129, 33, 0.6));
}

.config {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.config i:hover {
    cursor: pointer;
}

/* Main-content */
.main-content {
    margin: 10px 10px 10px 190px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: minmax(200px, auto);
}

.content-box {
    display: inline-block;
    background-color: #dddddd;
    border-radius: 30px;
    padding: 18px;
    margin: 12px;
}

.content-image {
    grid-column: 1 / -1;
    height: 400px;
}
.dell {
    background: url("../img/personal-comp.jpg");
    background-size: 100% auto;
}

@media screen and (max-width: 800px) {
    .main-content {
        grid-template-columns: 1fr;
    }
    .content-image {
        height: 300px;
    }
}
@media screen and (max-width: 600px) {
    .side-bar {
        width: 60px;
        align-items: center;
        justify-content: space-between;
    }
    .menu-text {
        display: none;
    }
    nav a {
        padding: 14px 3px;
    }
    .main-content {
        margin: 10px 10px 10px 70px;
    }
    .content-image {
        height: 200px;
    }
}
