@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #bbbbbb;
}

a {
    text-decoration: none;
}

/* Side-bar */
.side-bar {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    color: #eeeeee;
    position: fixed;
}
.side-bar i {
    font-size: 26px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.logo h2 {
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 500;
}

nav {
    border-bottom: 1px #222222 solid;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 8px;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
    font-weight: 700;
    color: #eeeeee;
    border-top: 1px #222222 solid;
}
nav a:hover {
    background-image: linear-gradient(to right, #333333, rgba(255, 129, 33, 0.6));
}

.config {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.config i:hover {
    cursor: pointer;
}

/* Main-content */
.main-content {
    margin: 10px 10px 10px 190px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
}

.content-box {
    display: inline-block;
    background-color: #dddddd;
    border-radius: 30px;
    padding: 18px;
    margin: 12px;
}
.large {
    grid-column: 1 / -1;
}

.content-image {
    height: 400px;
    grid-column: 1 / -1;
    padding: 0;
}
.content-image h1 {
    display: inline-block;
    padding: 10px 20px;
    color: whitesmoke;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.home {
    grid-row: 1;
    background: url("../img/home.jpg");
    background-size: 100% auto;
}

.team {
    grid-row: 4;
    background-image: url("../img/team.jpg");
    background-size: 100% auto;
}

.shop {
    grid-row: 6;
    background-image: url("../img/shop.jpg");
    background-size: 100% auto;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.product-card {
    display: flex;
    flex-direction: column;
    margin: 24px;
    border-radius: 8px;
    background-color: #fcb122;
    transition: 0.4s;
}
.product-image {
    flex-shrink: 0;
    height: 12vw;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: 0.6s;
}
.product-desc {
    padding: 10px 18px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.product-desc h3 {
    font-size: 22px;
}
.product-desc p {
    font-size: 20px;
}
.product1 {
    background-image: url("../img/product1.jpg");
    background-size: 100% 100%;
}
.product2 {
    background-image: url("../img/product2.jpg");
    background-size: 100% 100%;
}
.product3 {
    background-image: url("../img/product3.jpg");
    background-size: 100% 100%;
}
.product4 {
    background-image: url("../img/product4.jpg");
    background-size: 100% 100%;
}
.product5 {
    background-image: url("../img/product5.jpg");
    background-size: 100% 100%;
}
.product6 {
    background-image: url("../img/product6.jpg");
    background-size: 100% 100%;
}

.product-card:hover {
    transform: scale(1.1);
}
.product-image:hover {
    transform: scale(1.2);
    border-radius: 0;
}

.projects {
    background-image: url("../img/projects.jpg");
    background-size: 100% auto;
}
.content-project {
    background-image: url("../img/project.jpg");
    background-size: 100% auto;
    color: whitesmoke;
}

.partners {
    background-image: url("../img/partners.jpg");
    background-size: 100% 100%;
}
.partners-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.partners-logo i {
    margin: 6px;
    font-size: 20px;
}
.stable {
    color: #164094;
}
.fix {
    color: #2cc76c;
}

@media screen and (max-width: 800px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }
    .content-image {
        height: 300px;
    }
    .products {
        display: flex;
        flex-direction: column;
    }
    .product-card {
        margin: 16px 4px;
    }
    .product-image {
        height: 28vw;
    }
}
@media screen and (max-width: 600px) {
    .side-bar {
        width: 60px;
        align-items: center;
        justify-content: space-between;
    }
    .menu-text {
        display: none;
    }
    nav a {
        padding: 14px;
    }
    .main-content {
        margin: 10px 10px 10px 70px;
    }
    .content-image {
        height: 160px;
    }
}
@media screen and (max-width: 350px) {
    .content-image {
        display: none;
    }
}