@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    outline: 0;
}
body {
    border: 0;
    margin: 0;
    width: 100%;
    min-width: 900px;
    height: 100%;
    font-family: sans-serif;
}
.menu-static {
    display: inline-flex;
    position: relative;

    width: 100%;
    min-height: 60px;
    max-height: min-content;

    padding: 0;
    margin-bottom: 30px;

    align-items: center;

    background-color: #d6431a;
}
.menu-static .icon {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    display: block;
    position: absolute;
    margin: 0;
    border: 0;
}
.menu-static #logo {
    left: 30px;
}
.menu-static #login {
    right: 30px;
}
.menu-static #login:hover {
    transition: 0.1s;
    font-size: 27px;
    color: #ffffff;
}
.menu-static nav {
    display: inline-flex;
    position: absolute;
    width: fit-content;
    right: 100px;
}
.menu-static ul {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}
.menu-static li {
    display: inline-block;
    text-transform: uppercase;
    align-items: center;
    width: fit-content;
    height: 60px;
    margin: 0 -3px;
}
.menu-static li a {
    display: block;
    padding: 20px;
    text-align: center;
    width: fit-content;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
}
.menu-static li a:hover {
    transform: scale(1.03);
    transition: 0.1s;
    background-color: #a83616;
}