@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    outline: 0;
}
body {
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.menu-static {
    display: inline-flex;
    position: relative;
    width: 100%;
    min-height: 60px;
    max-height: min-content;
    padding: 0;
    margin-bottom: 30px;
    background-color: tomato;
}
.menu-static nav {
    position: absolute;
    display: inline-flex;
    width: max-content;
    right: 0;
}
.menu-static ul {
    padding: 0;
    border: 0;
    margin: 0;
}
.menu-static li {
    display: inline-flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    width: 90px;
    height: 60px;
    background-color: orangered;
}
.menu-static li a {
    display: flex;
    padding: 19px;
    color: whitesmoke;
    text-decoration: orangered;
    font-weight: bolder;
}

