@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    outline: 0;
}
body {
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.menu-static {
    display: inline-flex;
    position: relative;

    width: 100%;
    min-height: 60px;
    max-height: min-content;

    padding: 0;
    margin-bottom: 30px;

    align-items: center;

    background-color: #d6431a;
}
.menu-static nav {
    display: inline-flex;
    position: absolute;
    width: fit-content;
    right: 2px;
}
.menu-static ul {
    padding: 0;
    border: 0;
    margin: 0;
}
.menu-static li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    width: fit-content;
    height: 60px;
    border-right: 1px rgba(255, 255, 255, 0.1) solid;
    border-left: 1px rgba(255, 255, 255, 0.1) solid;
    margin: 0 -3px;
}
.menu-static li a {
    display: inline-flex;
    width: fit-content;
    padding: 20px;
    vertical-align: center;
    color: whitesmoke;
    text-decoration: orangered;
    font-weight: bolder;
}
.menu-static li a:hover {
    transform: scale(1.03);
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0.1);
}

