@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    outline: 0;
}
body {
    border: 0;
    margin: 0;
    width: 100%;
    min-width: 900px;
    height: 100%;
    font-family: sans-serif;
    background-color: #eeeeee;
}
/* Menu estático do site 1 */
.menu-static {
    display: inline-flex;
    position: relative;

    width: 100%;
    min-height: 60px;
    max-height: min-content;

    padding: 0;
    margin-bottom: 0;

    align-items: center;

    background-color: #1e57c9;
}
.menu-static .icon {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    display: block;
    position: absolute;
    margin: 0;
    border: 0;
}
.menu-static #logo {
    position: absolute;
    left: 30px;
    margin: auto;
}
.menu-static #login {
    right: 30px;
    cursor: pointer;
}
.menu-static #login:hover {
    transition: 0.1s;
    color: #ffffff;
}
.menu-static nav {
    display: inline-flex;
    position: absolute;
    width: fit-content;
    right: 85px;
}
.menu-static ul {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
}
.menu-static li {
    display: inline-block;
    align-items: center;
    width: fit-content;
    height: 60px;
    margin: 0 -3px;
}
.menu-static .menu-itens {
    display: block;
    padding: 20px;
    text-align: center;
    width: fit-content;

    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}
.menu-static .menu-itens:hover {
    transform: scale(1.03);
    transition: 0.1s;
    background-color: #164094;
}
/* Menu Dropdown */
.drop-menu {
        position: relative;
        display: inline-block;
    }
#drop-button {
        cursor: pointer;
    }
.drop-content {
    display: none;
    position: absolute;
    top: 59px;
    left: -2px;
    width: 201px;
    background-color: #eeeeee;
    z-index: 1;
}
.drop-content a {
    display: block;
    color: #222222;
    padding: 12px 16px;
    text-decoration: none;
}
.drop-menu:hover .drop-content {
    display: block;
}
.drop-content a:hover {
    background-color: #aaaaaa;
}
.drop-menu:hover #drop-button {
    transform: scale(1.03);
    transition: 0.1s;
    background-color: #164094;
}
/* Banner */
.banner {
    position: relative;
    background: url("../imagens/banner.jpg");
    color: #eeeeee;
    height: 200px;
    margin-top: -5px;
}
.banner .title {
    position:absolute;
    text-align: right;
    bottom: 0;
    right: 10px;
}
/* Section */
section {
    position: relative;
    padding: 10px;
    margin: 10px 15px;
    height: max-content;
    background-color: whitesmoke;
    overflow: auto;
}
section h1 {
    font-size: 18pt;
    padding: 3px 3px;
    margin: 5px 0;
    background-color: #1e57c9;
    color: whitesmoke;
}
.box-content {
    display: flex;
}
.textos p {
     margin: 10px 0;
     line-height: 22px;
     text-align: justify;
 }
.textos a {
    color: #1e57c9;
    text-decoration: none;
    font-weight: bold;
}
.textos a:hover {
    color: #164094;
    cursor: pointer;
}
.imagem {
    margin: 15px;
}
/* Cards */
.prod {
    display: block;
    position: center;
    width: fit-content;
    margin: 15px auto;
}
.card {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 210px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0 15px;
    background-color: #eeeeee;
}
.card .card-image {
    position: absolute;
    width: 100%;
    height: 133px;
    background-color: #ff253a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card .card-desc {
    position: absolute;
    top: 145px;
    left: 20px;
    width: 100%;
}
.card .card-desc h2 {
    font-size: 15pt;
    font-weight: bold;
}
.card .card-desc h3 {
    font-size: 13pt;
    font-weight: lighter;
}
.card:hover {
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.04);
}
/* Contatos */
#contato {
    height: 400px;
    overflow: auto;
    display: block;
}
.area-contato {
    display: flex;
}
.area-contato p {
    font-size: 16pt;
    font-weight: lighter;
}
.outros-contatos {
    position: absolute;
    right: 15px;
    padding: 10px;
    background-color: #5981d4;
    border-radius: 5px;
    overflow: auto;
    width: 500px;
    height: 320px;
}
.outros-contatos h2 {
    font-size: 16pt;
}
.outros-contatos label {
    display: block;
    position: relative;
    margin: 10px;
    padding: 0;
    font-size: 13pt;
    color: #222222;
}
.outros-contatos input, .outros-contatos textarea {
    position: absolute;
    right: 0;
    font-size: 12pt;
    width: 320px;
    padding: 4px;
    background-color: whitesmoke;
    transition: 0.4s;
}
.outros-contatos input:hover, .outros-contatos textarea:hover {
    background-color: #eeeeee;
}
.outros-contatos textarea {
    display: block;
    position: absolute;
    width: 91%;
    height: 100px;
    right: 20px;
}
.outros-contatos button {
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 12pt;
    background-color: darkorange;
    padding: 10px 12px;
    transition: 0.4s;
    border-radius: 5px;
}
.outros-contatos button:hover {
    cursor: pointer;
    background-color: orange;
    color: #222222;
}
/* Area de Login *//* NÂO FUNCIONA... AINDA */
/* Login Dropdown */
/* div .login
        div .login-content
            form - label - input [text] [button] p


.login {
    position: absolute;
    display: none;
    width: 250px;
    height: 270px;
    background-color: #fafafa;
    top: 59px;
    right: 10px;
    z-index: 1;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.login h2 {
    margin: 7px 11px;
    color: #222222;
}
.login p, span {
    font-size: 11pt;
    margin: 4px 11px;
    color: #164094;
}
.login p:hover {
    color: #1e57c9;
    cursor: pointer;
}
.login input {
    margin: 7px 11px;
    padding: 4px;
    font-size: 12pt;
    width: 85%;
    height: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}
.login input[type="button"] {
    width: 88%;
    height: 38px;
    font-weight: bolder;
    background-color: darkorange;
}
.login input:hover {
    background-color: #eeeeee;
    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.login input[type="button"]:hover {
    background-color: orange;
    cursor: pointer;
    color: #222222;
} */