@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: whitesmoke;
}

/* Barra */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #3d8ed4 solid;
    height: 50px;
}

.logo, .nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #226fb3;
}
.logo i {
    font-size: 24px;
    margin: 5px;
}

nav a, .drop-menu a {
    margin: 4px 8px;
    font-size: 20px;
    text-decoration: none;
    color: #226fb3;
}
nav a:hover {
    background-image: linear-gradient(to top, #e6f3ff, whitesmoke);
    padding-bottom: 9px;
    border-bottom: 3px #1e57c9 solid;
}
.drop-menu {
    display: inline;
}
.drop-content {
    display: none;
    position: absolute;
    width: 160px;
    top: 45px;
    left: 76%;
    background-color: #eeeeee;
    z-index: 1;
}
.drop-content a {
    display: block;
    text-align: center;
    padding-bottom: 0;
    margin: 6px;
    height: 30px;
}
.drop-content i {
    margin-right: 8px;
}
.drop-content a:hover {
    padding-bottom: 0;
    border: none;
    background-image: linear-gradient(to top, #eeeeee, #eeeeee);
    color: #3d8ed4;
}
.drop-menu:hover .drop-content {
    display: inline-block;
}

.hidden-menu {
    display: none;
    font-size: 26px;
    color: #226fb3;
}
.hidden-content {
    display: none;
    position: fixed;
    width: 90%;
    height: max-content;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}
.hidden-content a {
    display: block;
    text-align: center;
    padding: 6px;
    margin: 0;
    height: 30px;
    text-decoration: none;
    color: #222222;
    border-top: 1px #222222 solid;
}
.hidden-content .link:hover {
    background-color: #333333;
    color: whitesmoke;
}
.hidden-content .none {
    background-color: #164094;
    color: whitesmoke;
}
.hidden-content .parceiros {
    background-color: #222255;
    color: whitesmoke;
}
.hidden-menu:hover .hidden-content {
    display: inline-block;
}

/* Conteudo */
.banner {
    position: relative;
    background: url("../imagens/banner.jpg");
    color: #eeeeee;
    height: 200px;
    margin-top: -5px;
}
.banner .title {
    position:absolute;
    text-align: right;
    bottom: 0;
    right: 10px;
}

section {
    margin: 15px;
}
article {
    margin: 10px;
}
article h1 {
    background-color: #1e57c9;
    padding: 6px;
    margin: 10px auto;
    color: whitesmoke;
}
.content {
    display: flex;
    align-items: center;
}
.text {
    margin: 10px;
}
.text p {
    text-indent: 40px;
    line-height: 26px;
}

.cards {
    display: flex;
    position: center;
    width: fit-content;
    margin: 15px auto;
}
.card {
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 210px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px 15px;
    background-color: #eeeeee;
}
.card-image {
    position: absolute;
    width: 100%;
    height: 133px;
    background-color: #ff253a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card-desc {
    position: absolute;
    top: 145px;
    left: 20px;
    width: 100%;
}
.card-desc h2 {
    font-size: 15pt;
    font-weight: bold;
}
.card-desc h3 {
    font-size: 13pt;
    font-weight: lighter;
}
.card:hover {
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.04);
}
.computador {
    background: url("../imagens/computador.jpg");
}
.celular {
    background: url("../imagens/celular.jpg");
}
.monitor {
    background: url("../imagens/monitor.jpg");
}
.watch {
    background: url("../imagens/watch.jpg");
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contatos {
    flex-direction: column;
    align-items: flex-start;
}
.contatos span {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
}
.contatos a {
    text-decoration: none;
    color: #1e57c9;
}
.contatos a:hover {
    cursor: pointer;
    color: #3d8ed4;
}

.input {
    display: flex;
    background-color: lightskyblue;
    padding: 10px;
}
.input input, textarea, button {
    font-size: 18px;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    border: none;
}
textarea {
    color: #222222;
    height: 160px;
    font-family: "Manrope", sans-serif;
}
.input .large {
    width: 96%;
}
.input button {
    background-color: orange;
    float: right;
}
.input button:hover {
    background-color: darkorange;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .cards {
        justify-content: center;
        width: 100%;
    }
    .card {
        transform: scale(0.8);
        margin: 10px;
    }
}
@media screen and (max-width: 850px) {
    .content {
        flex-direction: column;
    }
    .cards {
        display: block;
        margin-left: 3vw;
    }
    .card {
        transform: scale(1);
    }
    .contato {
        flex-direction: column;
    }
    .input {
        align-items: center;
    }
}
@media screen and (max-width: 568px) {
    nav {
        display: none;
    }
    .hidden-menu {
        display: block;
    }
}
@media screen and (max-width: 499px) {
    .banner, .imagem {
        display: none;
    }
    .input .large {
        width: 92%;
    }
}